$Background: #282A36;
$Foreground: #F8F8F2;
$SelectionBackground: #44475A;
$CurrentLine: #44475A;
$Comment: #6272A4;
$Cyan: #8BE9FD;
$Green: #50FA7B;
$Orange: #FFB86C;
$Pink: #FF79C6;
$Purple: #BD93F9;
$Red: #FF5555;
